html {
    height: 80%; /* <------------ */
}

body {
    text-align: center;
    height: 100%; /* <------------ */
}

.container {
    position: relative;
    user-select: none;
    background-image: url("images/bg_holz.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 2px;
}

#memory-bg {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.memory-img {
    position: relative; 
    visibility: hidden;
    width: 100%;
    height: 100%;
 }

#memory-game {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
}

.memory-space {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    place-self: center;
    width: 90%;
    height: 90%;
}


.memory-card {
    position: absolute;
    z-index: 1;
    width: 0%;
    height: 100%;
    left: 50%;
    top: 0%;
}

.memory-card-back {
    position: absolute; 
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}